﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>List Table</title>
</head>
<body>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <div class="container">
        <table class="table-bordered table">
            <thead>
                <tr>
                    <th hidden="hidden">SystemuserID</th>
                    <th>Full Name</th>
                    <th>User Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var index in (List<MVCProject.Models.systemuser>)ViewBag.dataUser)
                {
                    <tr>
                        <td hidden="hidden">@index.systemUserID</td>
                        <td>@index.fullname</td>
                        <td>@index.username</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = index.systemUserID }) | @Html.ActionLink("Delete", "DeleteUser", new {id=index.systemUserID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="offset-11 col-md-2"><a href="/User/AddUser" class="btn btn-info">Add User</a></div>
    </div>
</body>
</html>
