﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>List Movie</title>
</head>
<body>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <div class="container">
        <table class="table-bordered table">
            <thead>
                <tr>
                    <th hidden="hidden">movieid</th>
                    <th>Nama Film</th>
                    <th>Genre</th>
                    <th>Tahun Rilis</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var index in (List<MVCProject.Models.movie>)ViewBag.dataMovie)
                {
                <tr>
                    <td hidden="hidden">@index.movieid</td>
                    <td>@index.namamovie</td>
                    <td>@index.genre</td>
                    <td>@index.tahunrilis</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = index.movieid }) | @Html.ActionLink("Delete", "Delete", new { id = index.movieid })
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <div class="offset-11 col-md-2"><a href="/Movie/Add" class="btn btn-info">Add Movie</a></div>
    </div>
</body>
</html>
